.navbar .nav-link {
  font-size: 17px;
  color: black;
}
.buttonHire {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background: #F15927;
  color: white !important;
}

.buttonHire:hover{
  background: #ec693d;
  
}


.btn-outline-warning:not(:disabled):not(.disabled).active, .btn-outline-warning:not(:disabled):not(.disabled):active, .show>.btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #f15927 !important;
  border-color: #f15927 !important;
}

.btn-outline-warning:not(:disabled):not(.disabled).active, .btn-outline-warning:not(:disabled):not(.disabled):active, .show>.btn-outline-warning.dropdown-toggle{
  color: #212529;
  background-color: #f15927 !important;
  border-color: #f15927 !important;
}